<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">

    <title>Raices Argentinas || Home</title>
</head>
<body>
    <header>
        <div class="Header-div__box">

            <img src="/img/logo-1.png" alt="">

            <div class="login-input__box">
                <div class="Header-form__box">
                    <form action="" class="Header-form">
                        <input type="text" placeholder="Buscar">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>

                <div class="div-user-bar-login__box">
                    <div class="header-div-login__box">

                        <a href="/register"><h5>crear cuenta</h5></a>
                        <h5>/</h5>
                        <a href="/login"><h5>iniciar sesión</h5></a>

                        <div class="header__usuario">
                            <a href="/login.html"><i class="fa-regular fa-user"></i></a>
                        </div>

                    </div>

                    <div class="Header-div-bars__box">
                        <a href=""><i class="fa-solid fa-bars"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="header-nav__box">
            <div class="Header-nav__div">
                <ul>
                    <li><a href="/views/index.html">Inicio</a></li>
                    <li><a href="Productos">Productos</a></li>
                    <li><a href="Regiones">Regiones</a></li>
                    <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                </ul>
            </div>
            <div class="Header-nav-div__div2">

            </div>
        </nav>
    </header>
    <main class="main--index">
        <section class="contenedor--tarjetas-index">
            <article class="tarjeta--individual-index">
                <img class="img--trajeta" src="/img/products/mate-algarrobo-y-bombilla.jpg" alt="">
                <h4 class="titulo--tarjeta">Mate de algarrobo y Bombilla</h4>
                <p class="precio--tarjeta">$16.200</p>
                <button class="boton--tarjeta"><a href="/productCart">Agregar al carrito</a></button>
            </article>
            <article class="tarjeta--individual-index">
                <img class="img--trajeta" src="/img/products/cinturon-de-cuero.jpg" alt="">
                <h4 class="titulo--tarjeta">Cinturon de cuero</h4>
                <p class="precio--tarjeta">$3.500</p>
                <button class="boton--tarjeta"><a href="/productCart">Agregar al carrito</a></button>
            </article>
            <article class="tarjeta--individual-index">
                <img class="img--trajeta" src="/img/products/bombilla-de-mate.jpg" alt="">
                <h4 class="titulo--tarjeta">Bombilla de mate</h4>
                <p class="precio--tarjeta">$3.000</p>
                <button class="boton--tarjeta"><a href="/productCart">Agregar al carrito</a></button>
            </article>
            <article class="tarjeta--individual-index">
                <img class="img--trajeta" src="/img/products/poncho.jpg" alt="">
                <h4 class="titulo--tarjeta">Poncho</h4>
                <p class="precio--tarjeta">$16.000</p>
                <button class="boton--tarjeta"><a href="/productCart">Agregar al carrito</a></button>
            </article>
            <article class="tarjeta--individual-index">
                <img class="img--trajeta" src="/img/products/termo-stanley.jpg" alt="">
                <h4 class="titulo--tarjeta">Termo Stanley</h4>
                <p class="precio--tarjeta">$47.000</p>
                <button class="boton--tarjeta"><a href="/productCart">Agregar al carrito</a></button>
            </article>
            <article class="tarjeta--individual-index">
                <img class="img--trajeta" src="/img/products/destapador-de-pared.jpg" alt="">
                <h4 class="titulo--tarjeta">Destapador de pared</h4>
                <p class="precio--tarjeta">$7.000</p>
                <button class="boton--tarjeta"><a href="/productCart">Agregar al carrito</a></button>
            </article>
            <article class="tarjeta--individual-index">
                <img class="img--trajeta" src="/img/products/tabla-de-asado.jpg" alt="">
                <h4 class="titulo--tarjeta">Tablas de asado</h4>
                <p class="precio--tarjeta">$1.800</p>
                <button class="boton--tarjeta"><a href="/productCart">Agregar al carrito</a></button>
            </article>
            <article class="tarjeta--individual-index">
                <img class="img--trajeta" src="/img/products/portatermo.jpg" alt="">
                <h4 class="titulo--tarjeta">Portatermo canasta</h4>
                <p class="precio--tarjeta">$18.200</p>
                <button class="boton--tarjeta"><a href="/productCart">Agregar al carrito</a></button>
            </article>
        </section>
    </main>
</body>
<footer>
    <div class="Footer-div__box">
        <div>
            <h5>AYUDA</h5>
            <p>Envios y entregas</p>
            <p>Devoluciones</p>
            <p>Cambios</p>
            <p>Opciones de pago</p>
        </div>
        <div>
            <h5>Contactanos</h5>
            <div class="Footer-number__box">
                <i class="fa-brands fa-whatsapp"></i>
                <p>+548191419278</p>
            </div>
        </div>
    </div>
    <div class="Footer-div__buton">
    </div>
</footer>  
</html>