:root {
    --MarronOscuro: #533F3F;
    --LineasMenu: #D4A373;
    --LetrasMenu: #7F5539;
    --LetrasProducto: #533F3F;
    --tipografia: 'Spectral', serif;
}

body{
    max-width: 1500px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color: blueviolet;
}
  