<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <main>
        <section>
            <div class="main-producdetalles__div">
                
                <img src="/images/products/mate-algarrobo-y-bombilla.jpg" alt="">

                <div class="n2">
                    <div class="Producto-precio__nombre">
                        <h4>Mate de Algarrobo</h4>
                        <p>$10.000</p>
                    </div>

                    <p class="productos__detalles">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
                        harum
                        reiciendis molestiae! Dolorem
                        mollitia reprehenderit maxime rem similique, cupiditate delectus.</p>
                    <div class="Producto-comprar__carrito">
                        <a href="/products/Cart">Comprar</a>
                        <a href="/products/Cart">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>

</html>