<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>

    <%- include('partials/header') %>

    <main class="register">
        <div class="register__box">

            <div class="register__box__encabezado">
    
                <a href="/" class="rotate-scale-up-ver"><img src="/images/celstecortado.jpg" alt=""></a>
                <h4 class="animate__animated animate__flash">REGISTRO</h4>
    
            </div>
    
            <form action="" method="" class="register__box__cuerpo">
    
                <div class="register__box__cuerpo__contenido uno">
                    <label for="email">Nombe</label>
                    <input id="email" placeholder="Escriba su nombre" type="text" name="name" class="form-input">
                </div>
    
                <div class="register__box__cuerpo__contenido uno">
                    <label for="lastname">Apellido</label>
                    <input id="lastname" placeholder="Escriba su apellido" type="text" name="lastname" class="form-input">
                </div>
    
                <div class="register__box__cuerpo__contenido dos">
                    <label for="email">Email</label>
                    <input id="email" placeholder="Escriba su email" type="email" name="email" class="form-input">
                </div>
    
                <div class="register__box__cuerpo__contenido uno">
                    <label for="password1" class="labels-forms">Contrase単a</label>
                    <input id="password1" type="password" placeholder="Escriba su contrase単a" name="password"
                        class="form-input">
                </div>
    
                <div class="register__box__cuerpo__contenido uno">
                    <label for="password2" class="labels-forms">Reiterar Contrase単a</label>
                    <input id="password2" type="password" placeholder="Escriba su contrase単a" name="password"
                        class="form-input">
                </div>
    
                <div class="register__box__cuerpo__bottom">
                    <button type="submit" class="buttom-forms"><a href="/">Enviar</a></button>
                    <button type="reset" class="buttom-forms">Borrar</button>
                </div>
    
            </form>
    
        </div>
    
    </main>
  <%- include('partials/footer') %>
</body>

</html>