<!DOCTYPE html>
<html lang="en">
<body>
    <footer>
        <div class="Footer-div__box">
            <div>
                <h5>AYUDA</h5>
                <p>Envios y entregas</p>
                <p>Devoluciones</p>
                <p>Cambios</p>
                <p>Opciones de pago</p>
            </div>
            <div>
                <h5>Contactanos</h5>
                <div class="Footer-number__box">
                    <i class="fa-brands fa-whatsapp"></i>
                    <p>+548191419278</p>
                </div>
            </div>
        </div>
        <div class="Footer-div__buton">
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    </footer>  
</body>
</html>