<!DOCTYPE html>
<html lang="en">
<body>
    <footer>
        <div class="Footer-div__box">
            <div class="box__div">
                <h5 class="Footer__h5">AYUDA</h5>
                <p class="Footer__p">Envios y entregas</p>
                <p class="Footer__p">Devoluciones</p>
                <p class="Footer__p">Cambios</p>
                <p class="Footer__p">Opciones de pago</p>
            </div>
            <div class="box__div">
                <h5 class="Footer__h5">Contactanos</h5>
                <div class="Footer-number__box">
                    <i class="fa-brands fa-whatsapp"></i>
                    <p class="Footer__p">+548191419278</p>
                </div>
            </div>
        </div>
        <div class="Footer-div__buton">
        </div>
<<<<<<< HEAD

=======
>>>>>>> 4c52a4a7b3a85fcfa954e9adce0a10f0edc4bc0b
    </footer>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>