<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Header</title>
</head>

<body>
    <header>
        <div class="Header-div__box">

            <img src="/img/logo-1.png" alt="">

            <div class="login-input__box">
                <div class="Header-form__box">
                    <form action="" class="Header-form">
                        <input type="text" placeholder="Buscar">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>

                <div class="div-user-bar-login__box">
                    <div class="header-div-login__box">

                        <a href="/register">crear cuenta</a>
                        <h5>/</h5>
                        <a href="/login">iniciar sesión</a>

                        <div class="header__usuario">
                            <a href="/login.html"><i class="fa-regular fa-user"></i></a>
                        </div>

                    </div>

                    <div class="Header-div-bars__box">
                        <a href=""><i class="fa-solid fa-bars"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="header-nav__box">
            <div class="Header-nav__div">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="Productos">Productos</a></li>
                    <li><a href="Regiones">Regiones</a></li>
                    <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                </ul>
            </div>
            <div class="Header-nav-div__div2">

            </div>
        </nav>
    </header>
</body>

</html>